.share-buttons

  a, .share-button
    background: #1b95e0;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1rem 0.6rem 1rem;
    display: inline-block;
    border-radius: 5px;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img 
      max-width: 30px;
      margin: 0;
      margin-right: 0.75rem;